.profile__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
}

.profile__container>div{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #101828;
    margin-top: 24px;
}

.profile__container #profile__img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.profile__container>div>p:last-child, span{
    display: none;
}

.profile__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
        position: absolute;
        top: -14px;
        right: 214px;
}

.profile__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px dashed #D0D5DD;
    border-radius: 20px;
        position: absolute;
        top: -20px;
        right: -45px;
}



@media (min-width:0px) and (max-width:700px){
    .profile__container>div{
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 32px;
    }
    .profile__arrow{
        display: none;
       opacity: 0;
    }
   
}

@media (min-width:701px) and (max-width:1200px){
    .profile__menu{
        opacity: 0;
    }

    .profile__arrow{
        position: absolute;
        top: -14px;
        right: 120px;
    }
   
}

@media (min-width: 1200px){
    .profile__menu{
        opacity: 0;
    }
}
